# Add any directories, files, or patterns you don't want to be tracked by version control*~
*.aux
*.bbl
*.bdb_latexmk
*.blg
*.cnf
*.fdb_latexmk
*.fls
*.gradle
*.log
*.map
*.out
*.pdf
*.pl
*.pyc
*.spl
*.upa
*.upb
*.zip
*~
.DS_Store
Walksat_V51
constraints_.cnf
constraints_.cnf.cnf
constraints_.cnf.map
constraints_.map
latex_tools
pbsugar-v1-1-1
picosat-965
sf1.pdf
sugar-v2-3-2
white_paper.pdf
