s SATISFIABLE
a S1	0
a S2	1
a S3	0
a S4	1
a S5	0
a S6	0
a S7	1
a A1	8
a A2	18
a A3	24
a A4	30
a A5	36
a A6	66
a A7	84
a R1	0
a R2	1
a R3	1
a R4	1
a R5	0
a R6	0
a R7	0
a M1	0
a M2	0
a M3	0
a M4	1
a M5	1
a M6	1
a M7	1
a FEMALE_ID1	1
a FEMALE_ID2	3
a FEMALE_ID3	5
a FEMALE_ID4	6
a FEMALE_AGE1	8
a FEMALE_AGE2	24
a FEMALE_AGE3	36
a FEMALE_AGE4	66
a MALE_ID1	2
a MALE_ID2	4
a MALE_ID3	7
a MALE_AGE1	18
a MALE_AGE2	30
a MALE_AGE3	84
a BLACK_ID1	1
a BLACK_ID2	5
a BLACK_ID3	6
a BLACK_ID4	7
a BLACK_AGE1	8
a BLACK_AGE2	36
a BLACK_AGE3	66
a BLACK_AGE4	84
a WHITE_ID1	2
a WHITE_ID2	3
a WHITE_ID3	4
a WHITE_AGE1	18
a WHITE_AGE2	24
a WHITE_AGE3	30
a
